name: Verify PR

on:
  pull_request:

jobs:
  verify-image:
    name: Verify Emulator Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      
      - name: Run verification script
        run: bash verify.bash